@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6
}

section-test
{
  position: absolue;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0a0a0a;
  background-position-x: center;
  background-size: cover;
  animation: animateBg 5s linear infinite;
  display: block;
}
@keyframes animateBg {
  0%, 100% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
}

span
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
              0 0 0 8px rgba(255,255,255,0.1),
              0 0 0 12px rgba(255,255,255,1);
  animation: animate 3s linear infinite;
}
span::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff, transparent);
}

@keyframes animate{
  0%{
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  
  }
  70%{
    opacity: 1;
  }
  100%{
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
span:nth-child(1)
{
  top: 0;
  right: 0;
  animation-delay: 0;
  animation-duration: 1s;

}
span:nth-child(2){
  top: 0;
  right: 80px;
  animation-delay: -0.2s;
  animation-duration: 3s;
}
span:nth-child(3){
  top: 80px;
  right: 0%;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}
